body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  flex: 1;
  display: grid;
  grid-template-areas:
    "head head head"
    "content content content"
    "side side side"
    "foot foot foot";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  gap: 20px;
}

header {grid-area: head;}
article {grid-area: content;}
aside {grid-area: side;}
footer {grid-area: foot;}

@media (min-width: 768px) {
  main {
    grid-template-areas:
      "side head head"
      "side content content"
      "side foot foot";
    grid-template-columns: auto 1fr;
    /* Adjusted to include sidebar width */
    grid-template-rows: auto 1fr auto;
  }
}